Q1. Create one variable containing following type of data:

In [2]:
# Ans.
# (i) string
name="c k raj"

# (ii) list
marks=[55,78,95,54]

# (iii) float
ave_marks=70.50
# (iv) tuple
details=('c k raj',25,"ckraj@gmail.com")

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [12]:
# Ans.
# (i) var1 = ‘ ‘
Data Type=String

#(ii) var2 = ‘[ DS , ML , Python]’
Data Type =String

#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
Data Type=List

#(iv) var4 = 1.

Data Type=float_

SyntaxError: invalid syntax (591894403.py, line 3)

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [13]:
#Ans
# (i) /
##The division operator '/' is used to perform division between two numbers.It returns the quotient of the division operation, which can be a floating-point number if there is a remainder.
dividend = 20
divisor = 3
result = dividend / divisor
print(result)

6.666666666666667

In [14]:
# (ii) %
##The modulus operator'%' calculates the remainder of a division operation. It returns the remainder when one number is divided by another.
dividend = 20
divisor = 3
remainder = dividend % divisor
print(remainder)

2

In [16]:
# (iii) //
##The floor division operator '//' performs division between two numbers and rounds down the result to the nearest integer.
dividend = 20
divisor = 3
result = dividend // divisor
print(result)

6

In [17]:
# (iv) **
##The exponentiation operator '**' raises a number to a specified power.
base = 2
exponent = 3
result = base ** exponent
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [19]:
list = [42, "Hello", 3.14, True, [1, 2, 3], {'name': 'ck raj'}, None, (10, 20), 'data', False]


for i in list:
    print("element:",i ,"       data type:",type(i))

element: 42        data type: <class 'int'>
element: Hello        data type: <class 'str'>
element: 3.14        data type: <class 'float'>
element: True        data type: <class 'bool'>
element: [1, 2, 3]        data type: <class 'list'>
element: {'name': 'ck raj'}        data type: <class 'dict'>
element: None        data type: <class 'NoneType'>
element: (10, 20)        data type: <class 'tuple'>
element: data        data type: <class 'str'>
element: False        data type: <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [9]:
A=int(input("Enter the divident(A)  "))
B=int(input("Enter the divisor (B)  "))

count=0

while A>=B:
    A= A- B
    count+=1
    
if A == 0:
    print(f"{A} is purely divisible by {B}.")
    print(f"{A} can be divided by {B} a total {count} of  times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter the divident(A)   60
Enter the divisor (B)   3

0 is purely divisible by 3.
0 can be divided by 3 a total 20 of  times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [13]:
list = [10, 15, 6, 9, 22, 33, 12, 18, 27, 8, 5, 30, 42, 17, 21, 36, 45, 13, 7, 4, 39, 20, 11, 24, 3]
for i in list:
    if i %3 ==0:
        print(f" {i}is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

10 is not divisible by 3
 15is divisible by 3
 6is divisible by 3
 9is divisible by 3
22 is not divisible by 3
 33is divisible by 3
 12is divisible by 3
 18is divisible by 3
 27is divisible by 3
8 is not divisible by 3
5 is not divisible by 3
 30is divisible by 3
 42is divisible by 3
17 is not divisible by 3
 21is divisible by 3
 36is divisible by 3
 45is divisible by 3
13 is not divisible by 3
7 is not divisible by 3
4 is not divisible by 3
 39is divisible by 3
20 is not divisible by 3
11 is not divisible by 3
 24is divisible by 3
 3is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [15]:
# Immutable Data Types
#An immutable data type is one whose value cannot be changed after it is created. When you modify an immutable object, a new object is created with the updated value. Examples of immutable data types in Python include integers, floats, strings, and tuples.



a=5
b=a
b=10
st1="c kcraj"
st2=st1
st2="hello"
tup1=(1,2,3,4)
tup2=tup1

#Mutable Data Types:
#A mutable data type is one that allows you to modify its value directly without creating a new object. Lists, dictionaries, and sets in Python are examples of mutable data types.
list1=[1,2,3]
list2=list1
list2.append(4)

disc1={'c':5,'d':8}
disc2=disc1
disc2['f']=6


set1={5,8,7}
set2=set1
set2.add(4)